@font-face {
    font-family: Pixeloid;
    src: 
    url(font/PixeloidSans-mLxMm.ttf),
    url(font/PixeloidSansBold-PKnYd.ttf);
}

* {
    box-sizing: border-box;
  }

:root {
    --background: #5ecde3;
    --arrow: #0E1F3E;
    --arrow_h: #f2be22;
    --arrow_a: #00f9ff;
    --small_arrow: #fff;
    --small_arrow_h: #00f9ff;
    --box: #f2be22;
    --color1: #2e6698;
    --color2: #144266;
    --color3: #0E1F3E;
    --title1: #f2be22;
    --title2: #0E1F3E;
    --text: #fff;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: grid;
    grid-template-columns: auto auto auto;
}

section {
    width: inherit;
    height: inherit;
    margin: inherit;
    padding: inherit;
    overflow: hidden;
}

img {
    width: inherit;
    object-fit: cover;
}

a {
    font-family: Arial, sans-serif;
    width: inherit;
    height: inherit;
    color: var(--text);
    text-decoration: none;
}

p, h1, h2 {
    font-family: Pixeloid, sans-serif;
}

p {
    color: var(--text);
    margin: 0;
    padding: 0;
    white-space: normal;
}

.strong {
    color: #0E1F3E;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/*Patternes*/



.full {
    display: grid;
    grid-template-areas: 
    'c1 c1 arrow1 c2 c2' 
    'arrow2 cont cont cont arrow3'
    'c3 c3 arrow4 c4 c4';
    grid-template-columns: 10% 35% 10% 35% 10%;
    grid-template-rows: 15% 70% 15%;
}

.lateral {
    display: grid;
    grid-template-areas: 
    'c1 topP c2' 
    'arrow2 cont arrow3'
    'c3 bottomP c4';
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80% 10%;
}

.bottom {
    display: grid;
    grid-template-areas: 
    'cont cont cont' 
    'cont cont cont'
    'c3 arrow4 c4';
    grid-template-columns: 10fr 1fr 10fr;
    grid-template-rows: 10fr 1fr;
}



/*Box*/



.box1 {
    grid-area: topP;
}

.box2 {
    grid-area: bottomP;
}

.principale {
    position: relative;
    grid-area: cont;
}

.up_arrow {
    grid-area: arrow1;
    display: flex;
    justify-content: center;
    align-items: first baseline;
    z-index: 3;
}

.left_arrow {
    grid-area: arrow2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 3;
}

.right_arrow {
    grid-area: arrow3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 3;
}

.down_arrow {
    grid-area: arrow4;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    z-index: 3;
}

.corner1 {
    grid-area: c1;
}

.corner2 {
    grid-area: c2;
}

.corner3 {
    grid-area: c3;
}

.corner4 {
    grid-area: c4;
}

/* Scrollbar
width / height*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
  
  /* ombre gouttière */
::-webkit-scrollbar-track {
    display: none;
}
  
  /* boutton */
::-webkit-scrollbar-thumb {
    background-color: var(--color2);
    border-radius: 10px;
}










/*----------Pages----------------------------------------------------------------------------------------------------------*/










#welcome {
    background: linear-gradient(0deg,
    #10DAE5 30%,
    #295F90 60%,
    #0E1F3E 90%);
    grid-column: 2;
    grid-row: 1;
}

#main {
    background-color: var(--background);
    grid-column: 2;
    grid-row: 2;
}

#perso {
    background-color: var(--color1);
    grid-column: 1;
    grid-row: 2;
}

#portfolio {
    background-color: var(--background);
    grid-column: 3;
    grid-row: 2;
}

#passion {
    background-color: var(--color1);
    grid-column: 2;
    grid-row: 3;
}



/*-----Flèche et animation hover en SCSS------------------------------------------------------------------------------------*/



.page_arrows {
    width: 75px;
    height: 65px;
    cursor: pointer;
    
    &:hover {
      
        polygon {
            fill: var(--arrow_h);
            transition: all .2s ease-out;
  
            &.arrow-bottom {
                transform: translateY(-18px);
            }
  
            &.arrow-top {
                transform: translateY(18px);
            }
        
        }
    
    }

    &:active {
        
        polygon {
            fill: var(--arrow_a);
        }

    }
    
}
  
polygon {
    fill: var(--arrow);
    transition: all .2s ease-out;
      
    &.arrow-middle {
        opacity: 0.75;
    }
  
    &.arrow-top {
        opacity: 0.5
    }
       
}

svg:hover + .text_box {
    display: block;
    animation: boxappear 1s forwards;
}

/*.down_polygon {
    fill: var(--arrow_a);
}*/

/*Direction des flèches*/
.dir_left {
    transform: rotate(90deg);
}

.dir_right {
    transform: rotate(-90deg);
}

.dir_top {
    transform: rotate(180deg);
}

.dir_bottom {
    transform: rotate(0deg);
}

/*Taille des flèches*/
.arrow_container {
    transform-origin: center;
    transform: scale(1);
    /*Faire varier width et height pour modifier l'épaisseur des marges*/
}

/*Text Box*/
.text_box {
    position: absolute;
    font-size: 1.8em;
    z-index: 3;
    display: none;
}

.text {
    text-align: center;
    font-weight: bold;
    background-color: var(--box);
    border-radius: 15px;
    width: 200px;
}

.tb_up {
    bottom: 100%;
    left: -75%;
}

.tb_left {
    bottom: 0%;
    left: -270%;
}

.tb_right {
    bottom: 0%;
    left: 100%;

}

.tb_down {
    bottom: -50%;
    left: -75%;
}

@keyframes boxappear {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}



/*-----Menu de navigation---------------------------------------------------------------------------------------------------*/



nav {
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(20, 66, 102, 0.7);
    width: 100vw;
    height: 70px;
    z-index: 2;
}

.nav_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.nav_block {
    background-color: var(--arrow);
    padding: 10px;
    border-radius: 5px;
}

.nav_button {
    width: auto;
}

.nav_block:hover {
    background-color: var(--arrow_h);
}










/*-----Page d'accueil---------------------------------------------------------------------------------------------------*/










.title {
    position: relative;
    top: 5%;
    width: 100vw;
    height: 60vh;
    margin: 0;
    padding: 0;
    z-index: 3;
    opacity: 0;

    animation-name: bright;
    animation-duration: 0s;
    animation-delay: 8.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.text_write {
    color: var(--title1);
    text-align: center;
    font-size: 4em;
    margin: inherit;
    padding: inherit;
}

.sun {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(0deg, 
    rgba(242,238,172,1) 15%, 
    rgba(254,250,101,1) 50%, 
    rgba(252,255,0,1) 75%, 
    rgba(242,190,34,1) 95%);
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    z-index: 0;
    overflow: hidden;
    filter: drop-shadow(0 0 2rem yellow);

    animation-name: sun_rising;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.separator {
    position: relative;
    width: 100vw;
    height: 0;
    margin: 20px -1%;
    border: 3px solid rgb(169, 101, 133);
}

.first_sep {
    top: 20%;
}

.sep_list {
    top: 30%;
}

.horizon {
    position: absolute;
    top: 58vh;
    left: 40%;
    width: 20vw;
    height: 0;
    border: 5px solid #FFF;
    border-radius: 50%;
    opacity: 0;
    z-index: 2;

    animation-name: bright;
    animation-duration: 1s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.ground {
    position: inherit;
    width: 100vw;
    height: 40vh;
    border-top: 2px solid #7ec3ff;
    box-shadow: inset 0em 0.5em 10px rgb(197, 103, 181);
    z-index: 1;
    overflow: hidden;
    filter: brightness(0.2);

    animation-name: day_rising;
    animation-duration: 6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes sun_rising {
    from {
        top: 100%;
    }

    to {
        top: 25%;
    }
}

@keyframes bright {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes day_rising {
    from {
        filter: brightness(0.2);
    }

    to {
        filter: brightness(1);
    }
}










/*------Page Principale--------------------------------------------------------------------------------------------------------*/










.grid1 {
    display: grid;
    grid-template-areas: 
    'div1 div1 div2'
    'div3 div4 div4';
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 50% 50%;
    grid-gap: 10px;
}

.presentation1 {
    background-color: var(--color1);
    padding: 20px;
    grid-area: div1;
}

.p1 {
    font-size: 1.5em;
    text-align: left;
}

.presentation2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
    grid-area: div2;
}

.logo {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iut {
    width: 60px;
    height: 80px;
}

.univ {
    width: 60px;
    height: 40px;
}

.linkedin, .mail {
    width: 75px;
    height: 75px;
    cursor: pointer;
}

#mail {
    position: absolute;
    visibility: hidden;
}

.presentation3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
    grid-area: div3;
}

.presentation4 {
    background-color: var(--color1);
    padding: 20px;
    grid-area: div4;
}










/*----------Page Portfolio----------------------------------------------------------------------------------------------------------------------*/










.section_title {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color: var(--title2);
    margin: 0;
}

#project_container {
    width: 100%;
    height: 80vh;
    margin: 25px 0 0;
    white-space: nowrap;
    overflow: hidden;
}

#project_scroller {
    position: absolute;
    top: 25px;
    width: 100%;
    height: 50px;
    background-color: var(--color3);
    z-index: 3;
}



/*Flèche de navigation*/



.small_arrow {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-top: 4px solid var(--small_arrow);
    border-right: 4px solid var(--small_arrow);
}

.arrow--left {
    transform: rotate(-135deg);
}

.arrow--right {
    transform: rotate(45deg);
}

.arrow_wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    height: 100%;
    margin: auto;
}

.small_arrow:hover {
    border-top: 4px solid var(--small_arrow_h);
    border-right: 4px solid var(--small_arrow_h);
    cursor: pointer;
}

.project_section {
    text-align: center;
}

.text_arrow {
    font-size: 2em;
    color: var(--text)
}


.block {
    display: inline-block;
    vertical-align: middle;
    background-color: var(--color2);
    width: 100%;
    height: 90%;
    border: solid 2px var(--color3);
}

.projet_s {
    width: 95%;
    height: 80%;
    margin: 65px auto 0;
    padding: 10px;
    background-color: var(--color1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    overflow-y: scroll;
}

#intro {
    width: 95%;
    height: 80%;
    margin: 60px auto 0;
    background-color: var(--color1);
}

#intro > p {
    text-align: center;
    padding: 35px 5px 5px;
}

#intro_title {
    font-size: 3em;
}

#intro_desc {
    font-size: 2em;
}

.projet {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #fff;
    overflow: hidden;
    z-index: 1;

    &:hover {
        .projet_desc {
            transition: all .5s ease-out;
            transform: translateY(5%);
        }

        .projet_title {
            animation-name: project_color;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
        }

        .fic {
            animation-name: project_color;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
        }
    }

    &:not(:hover) {
        .projet_desc {
            transition: all .5s ease-out;
        }

        .projet_title {
            animation-name: project_color_reverse;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }

        .fic {
            animation-name: project_color_reverse;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
    }
}

.projet_fic {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 80%;
    z-index: 2;
}

.fic {
    display: inherit;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 15%;
    background-color: var(--color2);
    font-size: 0.6em;
    border-radius: 10px;
    margin: 10px;
}

.projet_desc {
    position: absolute;
    bottom: 106%;
    width: 100%;
    height: 100%;
    background-color: var(--color3);
    z-index: 3;
}

.projet_desc:hover {
    animation-name: project;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.projet_desc:not(:hover) {
    animation-name: project_reverse;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.projet_text {
    font-size: 1rem;
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow-y: scroll;
}

.projet_text > p {
    font-family: Arial, sans-serif;
}

.projet_title {
    font-size: 1.4rem;
    color: var(--text);
    text-align: center;
    width: 100%;
    height: 36%;
    margin: 0;
    padding: 30px 0 0;
    background-color: var(--color2);
}

.projet_img {
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0.8;
    filter: blur(1px);
}

.projet_img > img {
    height: 100%;
}

.soon {
    background-color: var(--color3);
}

.soon_box {
    width: 50%;
    height: 25%;
    font-size: 1em;
    text-align: center;
    padding-top: 25px;
    border-radius: 15px;
    background-color: var(--title1)
}

.soon:hover {
    animation-name: soon_color;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.soon:not(:hover) {
    animation-name: soon_color_reverse;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


/*Animation Projet(version CSS)*/


@keyframes project {
    from {
        bottom: 106%;
    }

    to {
        bottom: 6%;
    }
}

@keyframes project_reverse {
    from {
        bottom: 0%;
    }

    to {
        bottom: 106%;
    }
}

@keyframes project_color {
    from {
        background-color: var(--color2);
    }

    to {
        background-color: var(--color3);
    }
}

@keyframes project_color_reverse {
    from {
        background-color: var(--color3);
    }

    to {
        background-color: var(--color2);
    }
}

@keyframes soon_color {
    from {
        background-color: var(--color3);
    }

    to {
        background-color: var(--title1);
    }
}

@keyframes soon_color_reverse {
    from {
        background-color: var(--title1);
    }

    to {
        background-color: var(--color3);
    }
}










/*----------Page Parcours, Passion----------------------------------------------------------------------------------------*/










.panel {
    background-color: #3e0835;
    width: 40%;
    padding: 10px;    
}

.panel > p {
    color: #fff;
    font-size: 3em;
    text-align: center;
}





/*-----Media Querries----------------------------------------------------------------------------------------------------------*/









/*-----Page d'Accueil-----------------------------------------------------------------------------------------------------------*/

@media (max-width: 1050px) {
    .text_write {
        font-size: 3.5em;
    }
}

@media (max-width: 900px) {
    .text_write {
        font-size: 3em;
    }

    .horizon {
        display: none;
    }
}

@media (max-width: 780px) {
    .text_write {
        font-size: 2.5em;
    }

    .ground {
        margin-top: 40vh
    }

    .arrow_container {
        transform: scale(0.8);
    }
}

@media (max-width: 650px) {
    .text_write {
        font-size: 2em;
    }

    .title {
        margin-top: 40vh;
    }
}

/*-------Page Principale------------------------------------------------------------------------------------------------------*/

@media (max-width: 1050px) {
    .p1 {
        font-size: 1em;
    }

    .iut {
        width: 50px;
        height: 70px;
    }
    
    .univ {
        width: 70px;
        height: 55px;
    }
    
    .linkedin, .mail {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 700px) {
    .p1 {
        font-size: 0.7em;
    }

    .iut {
        width: 30px;
        height: 40px;
    }
    
    .univ {
        width: 50px;
        height: 40px;
    }
    
    .linkedin, .mail {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 470px) {
    .p1 {
        font-size: 0.6em;
    }

    .logo {
        flex-direction: column;
        align-items: center;
    }

    .iut {
        width: 30px;
        height: 30px;
    }
    
    .univ {
        width: 50px;
        height: 40px;
    }
    
    .linkedin, .mail {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 350px) {
    .p1 {
        font-size: 0.5em;
    }
}

/*------Page Portfolio---------------------------------------------------------------------------------------------------------*/

@media (max-width: 1050px) {
    #intro_title {
        font-size: 2em;
    }

    #intro_desc {
        font-size: 1em;
    }
}

@media (max-width: 460px) {
    .projet {
        width: 200px;
        height: 200px;
    }

    .projet_text {
        font-size: 0.5em;
    }

    .fic {
        font-size: 0.5em;
    }

    .projet_title {
        font-size: 1em;
    }

    .soon_box {
        font-size: 0.8em;
        padding-top: 12px;
    }

    .section_title {
        font-size: 2.5em;
    }

    .small_arrow {
        border-top: 3px solid var(--small_arrow);
        border-right: 3px solid var(--small_arrow);
    }

    .text_arrow {
        font-size: 1.5em;
    }
}

@media (max-width: 390px) {
    #intro_title {
        font-size: 1.5em;
    }

    #intro_desc {
        font-size: 0.7em;
    }
}



